.header-section {
  position: fixed;
  width: calc(100vw - 230px);
  top: 0;
  left: 230px;
  height: 84px;
  @media screen and (max-width: 768px) {
    width: 100%;
    left: 0;
  }
}
.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #007bff, #007bff 70%);
  padding: 5px 20px;
}
.header-left,
.header-right {
  color: white;
  font-size: 12px;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px;
  width: 100%;
  margin-left: 20px;
  background-color: rgba(0, 123, 125, 0.1);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 9px;
  background: transparent;
  color: white;
}
input::placeholder {
  color: white;
}
i {
  font-size: 12px;
  color: white;
  padding-right: 10px;
}
@media screen and (max-width: 580px) {
  .hide-mob {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .hide-lowDevice {
    display: none;
  }
}

.nav-header {
  background-color: white;
  font-size: 14px;
  padding: 5px 15px;
}
