<div class="header-section">
  <div class="header-items">
    <div class="header-left">
      <img class="c-pointer" src="../../assets/burger-menu.png" alt="menuIcon" />
      <div class="search-container">
        <input type="text" class="search-input" placeholder="search for..">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="header-right">
      <div class="d-center pLR10 hide-mob">
        <img class="c-pointer" src="../../assets/mail-alert.png" alt="mail alert" />
        <img class="c-pointer" src="../../assets/chevron-down.png" alt="down arrow" />
      </div>
      <div class="d-center pLR10 hide-mob">
        <img class="c-pointer" src="../../assets/bell-alert.png" alt="bell alert" />
        <img class="c-pointer" src="../../assets/chevron-down.png" alt="down arrow" />
      </div>
      <div class="d-center pLR10 hide-mob">
        <img class="c-pointer" src="../../assets/text-right.png" alt="bell alert" />
      </div>
      <div class="d-center pLR10 hide-lowDevice">
        <img class="c-pointer" src="../../assets/profile-header.png" alt="user icon" />
        <span class="pLR5 c-pointer">John</span>

        <img class="pLR5 c-pointer" src="../../assets/chevron-down.png" alt="down arrow" />
      </div>
    </div>
  </div>

  <div class="nav-header">
    <div>Dashboard</div>
    <div>Home > Dashboard</div>
  </div>
</div>