<div class="side-nav">
  <div class="logo">
    <img src="../../assets/logo.png" alt="logo" />
  </div>
  <div class="user-view">
    <img src="../../assets/profile-pic.png" alt="user" />
    <div class="f14 gray">John Smith</div>
    <div class="f12 gray">Welcome</div>
  </div>
  <div>
    <div class="f12 gray pr10">MAIN</div>
    <div>
      <div class="nav-items active">
        <div class="d-center">
          <img class="pr10" src="../../assets/Dashboard.png" alt="Dashboard" />
          Dashboard
        </div>
        <div><img src="../../assets/chevron.png" alt="arrow" /></div>
      </div>

      <div class="nav-items">
        <div class="d-center">
          <img class="pr10" src="../../assets/widgets.png" alt="Widgets" />
          Widgets
        </div>
        <div><img src="../../assets/chevron.png" alt="arrow" /></div>
      </div>

      <div class="nav-items">
        <div class="d-center">
          <img class="pr10" src="../../assets/apps.png" alt="Apps" />
          Apps
        </div>
        <div><img src="../../assets/chevron.png" alt="arrow" /></div>
      </div>
      
      <div class="nav-items">
        <div class="d-center">
          <img class="pr10" src="../../assets/inbox.png" alt="Inbox" />
          Inbox
        </div>
        <div><img src="../../assets/chevron.png" alt="arrow" /></div>
      </div>
      
      <div class="nav-items">
        <div class="d-center">
          <img class="pr10" src="../../assets/release.png" alt="New Release" />
          New Release
        </div>
        <div><img src="../../assets/chevron.png" alt="arrow" /></div>
      </div>
    </div>
  </div>
</div>