.side-nav {
  height: 100vh;
  background: white;
  width: 230px;
  border-right: 1px solid #f5f5f5;
  position: absolute;
  left: 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.logo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  img {
    width: 50%;
  }
}
.user-view {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #dcdcdc;
  img {
    width: 70%;
  }
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 10px 0px 0;
  cursor: pointer;
  &.active {
    background: gainsboro;
  }
}
