/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
}
* {
  outline: none;

  &:focus {
    outline: none;
  }
  button {
    &:focus{
      outline: none;
    }
  }
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  border: 1px solid #dee2e6;
  border-radius: 2px;
}

.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f20 {
  font-size: 20px;
}
.gray {
  color: gray;
}

.pLR10 {
  padding-left: 10px;
  padding-left: 15px;
}
.pLR5 {
  padding-left: 5px;
  padding-left: 5px;
}
.pr10 {
  padding-left: 10px;
}
.pr10 {
  padding:10px;
}

.header-left,
.header-right, .d-center {
  display: flex;
  align-items: center;
}
.c-pointer {
  cursor: pointer;
}

.pagination {
  margin: 0;
}
.page-link {
  border: none !important;
  color: gray !important;
  font-size: 14px;
}
.page-link {
  padding: 2px 5px;
  box-shadow: none !important;
  margin: 0 2px;
  &:hover, &:active, &:focus {
    background-color: #007bff !important;
    color: white !important;
  }
}